
.mx-auto.navbar-nav a {
  text-decoration: none;
  padding: 0px 20px;
  display: inline-block;
  font-weight: 700;
}
.menu_area nav {
  background: antiquewhite;
}
.slider_area {
  margin-top: 56px;
}
.menu_area {
	margin-bottom: 56px;
}
.user_info img {
	width: 33px;
	border-radius: 50%;
}